.dashboard_screen_container {
  height: 100vh;
  width: 100vw;
}

.row_section {
  height: 100vh;
  width: 100vw;
}

.column_sections {
  /* border: 1px solid black; */
}

.column_one {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard_nav_buttons:nth-child(1) {
  margin-top: 20px;
}

.dashboard_nav_buttons a {
  color: white;
  text-decoration: none;
}

.nav_icons {
  font-size: 30px;
  color: white;
  margin-right: 8px;
}

.column_two,
.column_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_boxes {
  border: 2px solid black;
  height: 350px;
  width: 525px;
  margin: 5px;
}

.chart_header {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-bottom: 1px solid black;
  height: 50px;
}

.card_stat {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_stat h2 {
  text-align: center;
}

.card_stat_1 {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card_stat_2 {
  background: #aaffa9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #11ffbd,
    #aaffa9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #11ffbd,
    #aaffa9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
