.link_buttons {
  margin: 10px;
  width: 150px;
  background-color: white;
}

.link_buttons:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);
}

.link_buttons a {
  text-decoration: none;
}
