.form_container {
  /* border: 1px solid red; */
  margin-top: 5px;
  margin-left: 50px;
  padding: 10px;
  width: 50vw;
  height: 175px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input_text {
  position: absolute;
  top: 50px;
  left: 10px;
}

.input_text2 {
  position: absolute;
  top: 50px;
  left: 225px;
}

.input_text3 {
  position: absolute;
  top: 50px;
  left: 440px;
}

.form_container button {
  background-color: white;
  width: 150px;
  font-size: 20px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.form_container input {
  width: 200px;
  height: 30px;
}

.image_uploader {
  border: 1px solid black;
}

.form_container h4 {
  color: white;
}

.form_container button {
  /* margin-top: 10px; */
}
